*.code-workspace
*.json
.DS_Store
.venv
.vscode
.claude
__pycache__
temporary/
*.key
*.db
*.bat
data/badge_icons_cache
data/jackets_cache
data/version_logo_cache
data/mainotes_cache
data/user_templates
CLAUDE.md
im_a_filthy_vibecoder_lmfao.txt
startcirclechiffon.bat
templates/
data/version_logo_cache