*.code-workspace
*.json
.DS_Store
.venv
.vscode
__pycache__
temporary/
*.key
*.db
*.bat
data/badge_icons_cache
data/jackets_cache
CLAUDE.md
im_a_filthy_vibecoder_lmfao.txt
startcirclechiffon.bat
templates/